<!DOCTYPE html>
<html lang="en">

<head>
    <title>IT Scan qrcode</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Mitr&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/scanqr.css">

</head>

<body>
    <header class="header-content">
        <nav class="navbar">
            <div class="lgbrand">
                <span class="nav-logo">IT Scan</span>
                <a class="nav-brand">คณะเทคโนโลยีสารสนเทศ</a>
            </div>
            <a>Support</a>
        </nav>
    </header>
    <div class="container">
        <div class="d-flex justify-content-center py-5">
            <a>Rooom <%=room%></a>
            <button class="loginbtn" id="messgae">
                <a>Check-In</a>
        </button>
        </div>
    </div>
    <script src="../checkin.js"></script>
</body>

</html>